# PREAMBULE

## Synopsis

*PURPOSE*

Ceci est un fork du builder de set de paramètres (en début de dév). Il est ici détourné pr vérifier les sorties du convertiseur.

*TODO*

## Librairies

In [2]:
# GENERAL

import pandas as pd

In [3]:
# GESTION JSON
from pandas.io.json import json_normalize #package for flattening json in pandas df
import pprint as pp #Pr des "jolis" prints des dic pp.pprint(*_dic)
import json #Pr convertir les dic en json utiliser json.dump (sans S) et avoir un "joli" print : print(json.dumps(*_dic, sort_keys=True, indent=4))

In [4]:
# AFFICHAGE NOTEBOOK

from IPython.core.interactiveshell import InteractiveShell # Mettre en output toutes les sortie d'une cellule
InteractiveShell.ast_node_interactivity = "all" #"last_expr"

In [5]:
# Mise en forme du notebook 

# Nb de colonnes/ligne à afficher
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

# Largeur des cellules #Uniquement pr Jup Notbook ?
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

# Mettre en output toutes les sortie d'une cellule
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all" #"last_expr"

# Avoir une forme de débugger
from IPython.core.debugger import Tracer # Plancer Tracer()() dans la fonction permet d'avoir un pas à pas, "n(ext) line and run this one, c(ontinue) running until next breakpoint, q(uit) the debugger"

In [6]:
# GRAPHIQUES

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (13.0, 8.0)

import seaborn as sns
sns.set_color_codes()
sns.set(rc={'figure.facecolor':'white'}) #Force l'arrire plan des axes en blanc, nécessaire pr IDE en black

## Fonctions

In [11]:
def leafExplorer(df, listeBranches):
    '''
    A partir d'un df contenant des colonnes dont les cellules sont des dic (et NON des array de dic), 
    extrait les dictionnaires ou les array et passe les clé en nom de colonne, puis les valeurs en "cellule".
    NB : on a pr nom de colonne uniquement la clé du dic
    '''
   
    for branche in listeBranches :
        try :
            branche in df.columns
        except :
            print(branche, " n'est pas un nom de colonne présent dans le df donné !")
            
        try :
            isinstance(df[branche][0], dict)
        except:
            print("Le contenu de ", branche, " n'est pas toujours un dict !")
        finally:
            df = df.drop(branche, 1).assign(**pd.DataFrame(df[branche].values.tolist()))
    return df;

## Tampon bouts de code

aberrants = dal.loc[(dal["loading_cargo_type"]=='') & (dal["unloading_cargo_type"]==''),    :]

aberrants.to_json(orient='records')

dic_flattened = (flatten(handlings_list) for handlings_list in flatten)

for item in dic_flattened :
    print(item)
    
df = pd.DataFrame(dic_flattened) #.from_records(flatten)

df

data_IH.dropna(subset=["data.departure_dock"])

df.to_json("./export.json", orient='records')

def set_for_keys(my_dict, key_arr, val):
    """
    Set val at path in my_dict defined by the string (or serializable object) array key_arr
    """
    current = my_dict
    for i in range(len(key_arr)):
        key = key_arr[i]
        if key not in current:
            if i==len(key_arr)-1:
                current[key] = val
            else:
                current[key] = {}
        else:
            if type(current[key]) is not dict:
                print("Given dictionary is not compatible with key structure requested")
                raise ValueError("Dictionary key already occupied")

        current = current[key]

    return my_dict

def to_formatted_json(df, sep="."):
    result = []
    for _, row in df.iterrows():
        parsed_row = {}
        for idx, val in row.iteritems():
            keys = idx.split(sep)
            parsed_row = set_for_keys(parsed_row, keys, val)

        result.append(parsed_row)
    return result

to_formatted_json(df, sep=".")

flatten("./filtrat_IH.json")

# ID DONNEES BRUTES

load = data_IH.loc[:, ["data.loading_cargo_fiscal_type", "data.loading_cargo_type", "data.loading_berth"]]
load.columns = ["Groupe", "Type", "Dock"]

unload = data_IH.loc[:, ["data.unloading_cargo_fiscal_type", "data.unloading_cargo_type", "data.unloading_berth"]]
unload.columns = ["Groupe", "Type", "Dock"]

cargo_type = pd.concat([load, unload])

cargo_type.dropna(subset=["Type"], inplace=True)

cargo_type

# CHR data

## Test convertiseur

In [91]:
# Test nb de valide sur sortie convertiseur

with open("/media/DATA/CODE/1_PIXEL/1_PAS_MODELLING/tools/gpmb_ships_call_list_converter/sortie.json") as json_file:
    chr_json = json.load(json_file)

In [106]:
# INSTANCIATION

source_df = json_normalize(
    chr_json[0], #On filtre sur 0 car on a un seul terminal présent
    record_path=[
        "ships_list", 
        "stopovers_list", 
    ], 
    meta=[
        ["ships_list", "ID"],
        ["ships_list",'label'],  
    ],
    sep="__"
)

source_df.shape
source_df

(20, 4)

,ID,handlings_list,ships_list__ID,ships_list__label
0,20180001,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9571545,MUNTGRACHT
1,20180002,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9803429,TANAB
2,20180003,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9534298,JOHANN
3,20180004,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9377092,LEENI
4,20180006,[],9699854,DESERT%20RANGER
5,20180011,[],9291729,FEED%20ROGALAND
6,20180041,[],9291729,FEED%20ROGALAND
7,20180012,[],9301990,ALDEBARAN
8,20180014,[],9192375,LAGUNA%20D
9,20180015,[],9031428,LANDY
10,20180017,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9388388,LIBERTAS-H
11,20180030,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9388388,LIBERTAS-H
12,20180018,[],9354040,LALINDE
13,20180019,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9141364,VITALITY
14,20180022,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9242558,LAURA%20ANN
15,20180036,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9242558,LAURA%20ANN
16,20180023,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9558581,MUHARREM%20DADAYLI
17,20180029,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9655016,BRISOTE
18,20180033,"[{'nature': 'cargo', 'dangerous': False, 'agen...",9367530,CHEMWAY%20LARA
19,20180038,[],9427976,FMT%20GUMULDUR

In [115]:
a="[]"
a
#source_df["handlings_list"].str.find(a)

source_df.iloc[4,source_df["handlings_list"]]

'[]'

IndexError: .iloc requires numeric indexers, got [list([{'nature': 'cargo', 'dangerous': False, 'agent': 'SEAINVEST', 'dock': {'ID': 435, 'ETA': '2018-01-01T18:50:00', 'ETD': '2018-01-07T21:15:00'}, 'contents': {'segment': 'SOL.V', 'direction': 'unloading', 'category': 'I.CHARBON', 'amount': 10094}}])
 list([{'nature': 'cargo', 'dangerous': False, 'agent': 'SEAINVEST', 'dock': {'ID': 436, 'ETA': '2018-01-02T18:30:00', 'ETD': '2018-01-03T19:20:00'}, 'contents': {'segment': 'LIQ.V', 'direction': 'unloading', 'category': 'I.EMHV%20-%20EMAG%20-%20FAME', 'amount': 2500}}])
 list([{'nature': 'cargo', 'dangerous': False, 'agent': 'SEAINVEST', 'dock': {'ID': 416, 'ETA': '2018-01-02T18:50:00', 'ETD': '2018-01-08T21:40:00'}, 'contents': {'segment': 'SOL.V', 'direction': 'unloading', 'category': 'I.CLINKER', 'amount': 5703}}])
 list([{'nature': 'cargo', 'dangerous': False, 'agent': 'SEAINVEST', 'dock': {'ID': 436, 'ETA': '2018-01-03T19:30:00', 'ETD': '2018-01-04T21:25:00'}, 'contents': {'segment': 'LIQ.V', 'direction': 'loading', 'category': 'E.HUILE%20TOURNESOL', 'amount': 2424}}])
 list([]) list([]) list([]) list([]) list([]) list([])
 list([{'nature': 'cargo', 'dangerous': False, 'agent': 'MSC', 'dock': {'ID': 432, 'ETA': '2018-01-10T13:00:00', 'ETD': '2018-01-11T12:50:00'}, 'contents': {'segment': 'P.C.', 'direction': 'loading', 'category': 'E.CONTENEURS', 'amount': 1217}}])
 list([{'nature': 'cargo', 'dangerous': False, 'agent': 'MSC', 'dock': {'ID': 432, 'ETA': '2018-01-20T06:10:00', 'ETD': '2018-01-20T21:20:00'}, 'contents': {'segment': 'P.C.', 'direction': 'unloading', 'category': 'I.CONTENEURS', 'amount': 3064}}])
 list([])
 list([{'nature': 'cargo', 'dangerous': False, 'agent': 'SEAINVEST', 'dock': {'ID': 449, 'ETA': '2018-01-11T15:20:00', 'ETD': '2018-01-12T15:00:00'}, 'contents': {'segment': 'CEREAL', 'direction': 'loading', 'category': 'E.MAIS%20VRAC', 'amount': 3810}}])
 list([{'nature': 'cargo', 'dangerous': False, 'agent': 'CGM', 'dock': {'ID': 432, 'ETA': '2018-01-13T03:45:00', 'ETD': '2018-01-14T01:40:00'}, 'contents': {'segment': 'P.C.', 'direction': 'loading', 'category': 'E.CONTENEURS', 'amount': 3123}}])
 list([{'nature': 'cargo', 'dangerous': False, 'agent': 'CGM', 'dock': {'ID': 432, 'ETA': '2018-01-22T21:00:00', 'ETD': '2018-01-24T12:55:00'}, 'contents': {'segment': 'P.C.', 'direction': 'loading', 'category': 'E.CONTENEURS', 'amount': 3541}}])
 list([{'nature': 'cargo', 'dangerous': False, 'agent': 'SEAINVEST', 'dock': {'ID': 433, 'ETA': '2018-01-14T17:35:00', 'ETD': '2018-01-16T20:10:00'}, 'contents': {'segment': 'SOL.V', 'direction': 'unloading', 'category': 'I.UREE%20VRAC', 'amount': 6316}}])
 list([{'nature': 'cargo', 'dangerous': False, 'agent': 'HUMANN', 'dock': {'ID': 436, 'ETA': '2018-01-19T18:45:00', 'ETD': '2018-01-20T08:15:00'}, 'contents': {'segment': 'GAZ.L', 'direction': 'unloading', 'category': 'I.BUTADIENE', 'amount': 1500}}])
 list([{'nature': 'cargo', 'dangerous': False, 'agent': 'SEAINVEST', 'dock': {'ID': 436, 'ETA': '2018-01-21T08:40:00', 'ETD': '2018-01-22T20:50:00'}, 'contents': {'segment': 'LIQ.V', 'direction': 'unloading', 'category': 'I.METHANOL', 'amount': 6017}}])
 list([])]

In [107]:
source_df.loc[source_df["handlings_list"]=="\[\]",:]

Empty DataFrame
Columns: [ID, handlings_list, ships_list__ID, ships_list__label]
Index: []

In [102]:
# EMPTY, NAN et 0

# Recherche
np.where(source_df.applymap(lambda x: x == ''))

# Remplacement
#source_df.replace("",np.nan, inplace=True)

(array([], dtype=int64), array([], dtype=int64))

## Préparation

In [80]:
# CHARGEMENT

with open("/media/DATA/CODE/1_PIXEL/1_PAS_MODELLING/inputs/demoCHR2018/CARGOES_HANDLING_REQUESTS.json") as json_file:
    chr_json = json.load(json_file)

In [92]:
# INSTANCIATION

chr_df = json_normalize(
    chr_json[0], #On filtre sur 0 car on a un seul terminal présent
    record_path=[
        "ships_list", 
        "stopovers_list", 
        "handlings_list"
    ], 
    meta=[
        ["ships_list", "ID"],
        ["ships_list",'label'],
        ["ships_list", "stopovers_list", "ID"],    
    ],
    sep="__"
)

chr_df.shape
chr_df.head()

(12, 13)

,nature,dangerous,agent,dock__ID,dock__ETA,dock__ETD,contents__segment,contents__direction,contents__category,contents__amount,ships_list__ID,ships_list__label,ships_list__stopovers_list__ID
0,cargo,False,SEAINVEST,435,2018-01-01T18:50:00,2018-01-07T21:15:00,SOL.V,unloading,I.CHARBON,10094,9571545,MUNTGRACHT,20180001
1,cargo,False,SEAINVEST,436,2018-01-02T18:30:00,2018-01-03T19:20:00,LIQ.V,unloading,I.EMHV%20-%20EMAG%20-%20FAME,2500,9803429,TANAB,20180002
2,cargo,False,SEAINVEST,416,2018-01-02T18:50:00,2018-01-08T21:40:00,SOL.V,unloading,I.CLINKER,5703,9534298,JOHANN,20180003
3,cargo,False,SEAINVEST,436,2018-01-03T19:30:00,2018-01-04T21:25:00,LIQ.V,loading,E.HUILE%20TOURNESOL,2424,9377092,LEENI,20180004
4,cargo,False,MSC,432,2018-01-10T13:00:00,2018-01-11T12:50:00,P.C.,loading,E.CONTENEURS,1217,9388388,LIBERTAS-H,20180017

In [93]:
# RENOMMAGE COLONNES

chr_df.columns
chr_df.rename(
    columns={
        "dock__ID": "dock_ID", 
        "dock__ETA": "dock_ETA", 
        "dock__ETD": "dock_ETD",
        "contents__direction": "direction",
        "contents__category": "category",
        "contents__amount": "amount",
        "ships_list__ID": "ship_ID",
        "ships_list__label": "ship_label",
        "ships_list__stopovers_list__ID": "stopover_ID",
    },
    errors="raise",
    inplace= True
)

Index(['nature', 'dangerous', 'agent', 'dock__ID', 'dock__ETA', 'dock__ETD',
       'contents__segment', 'contents__direction', 'contents__category',
       'contents__amount', 'ships_list__ID', 'ships_list__label',
       'ships_list__stopovers_list__ID'],
      dtype='object')

In [94]:
# EMPTY, NAN et 0

# Recherche
np.where(chr_df.applymap(lambda x: x == ''))

# Remplacement
#chr_df.replace("",np.nan, inplace=True)

(array([], dtype=int64), array([], dtype=int64))

Attention, ici les category = unknown sont des empty qui ont été remplacé. Cf le fait d'avoir des amount à 0

In [95]:
# Vérification de la bijection parfaite

(chr_df.loc[chr_df["category"] == "unknown", :] != chr_df.loc[chr_df["amount"] == 0, :]).sum()

nature               0
dangerous            0
agent                0
dock_ID              0
dock_ETA             0
dock_ETD             0
contents__segment    0
direction            0
category             0
amount               0
ship_ID              0
ship_label           0
stopover_ID          0
dtype: int64

In [96]:
chr_df.drop(
    chr_df.loc[chr_df["category"] == "unknown", :].index,
    inplace= True
)

In [97]:
# CONVERTION DE TYPE

#chr_df.astype({"data.loading_berth":'int32'})

In [98]:
# Nb d'enregistrement valide

chr_df.shape

(12, 13)

# Dictionnaire des info pertinentes

PRB : dans cet input, il n'y a pas les segments. Ce qui va être problématique pr ramener les nCCat ==> 1CSeg --> 1SC

In [116]:
ct_groupe = pd.DataFrame(
    cargo_type.groupby("Type")["Groupe"].agg(lambda x:x.value_counts().index[0]) #On prend uniquement la valeur la plus fréquence (possible égalité)
)

#Alternative, utiliser fonction custom à appliquer :
  
def most_frequent(List): 
    occurence_count = Counter(List) 
    return occurence_count.most_common(1)[0][0] 
    
List = [2, 1, 2, 2, 1, 3] 
print(most_frequent(List))

In [117]:
ct_groupe.insert(1, "Dock", 
                 cargo_type.groupby("Type")["Dock"].apply(lambda x: pd.unique(x).tolist())) #On passe en valeur la liste de tous les docks ayant correspondus

# RESSOURCE

In [17]:
#load json object
with open('./RESSOURCES_demo.json') as json_file:
    ressources = json.load(json_file)

ressources = json_normalize(ressources['machines'])


ressources.head()

,ID,label,category,tag,owner,shift_ID,consumptions,throughput.Value,throughput.Unit
0,machine_16,machine_16's name,ConvoyBelt,[],GPMB,typical,"[{'nature': 'electricity', 'value': 819, 'unit...",447,t/h
1,machine_1,machine_1 's name,Crane,[],SPBL,typical,"[{'nature': 'electricity', 'value': 805, 'unit...",417,t/h
2,machine_31,machine_31's name,Crane,[],SPBL,typical,"[{'nature': 'electricity', 'value': 866, 'unit...",330,t/h
3,machine_2,machine_2's name,Other,[],GPMB,typical,"[{'nature': 'petrol', 'value': 14, 'unit': 'L'}]",870,t/h
4,machine_17,machine_17's name,Schouler,[],SPBL,typical,"[{'nature': 'gazol', 'value': 23, 'unit': 'L'}]",972,t/h

# OUTPUT

In [19]:
#load json object
with open('./Service Output Extended.json') as json_file:
    output = json.load(json_file)

output = json_normalize(output)


output.head()

,ID,label,stopovers_list
0,9571545,MUNTGRACHT,"[{'ID': 20180001, 'handlings_list': [{'ID': 0,..."
1,9803429,TANAB,"[{'ID': 20180002, 'handlings_list': [{'ID': 1,..."
2,9534298,JOHANN,"[{'ID': 20180003, 'handlings_list': [{'ID': 2,..."
3,9377092,LEENI,"[{'ID': 20180004, 'handlings_list': [{'ID': 3,..."
4,9699854,DESERT%20RANGER,"[{'ID': 20180006, 'handlings_list': [{'ID': 4,..."