# PREAMBULE

## Synopsis

*PURPOSE*

Ceci est un fork du builder de set de paramètres (en début de dév). Il est ici détourné pr vérifier les sorties du convertiseur.

*TODO*

## Librairies

In [2]:
# GENERAL

import pandas as pd

In [3]:
# GESTION JSON
from pandas.io.json import json_normalize #package for flattening json in pandas df
import pprint as pp #Pr des "jolis" prints des dic pp.pprint(*_dic)
import json #Pr convertir les dic en json utiliser json.dump (sans S) et avoir un "joli" print : print(json.dumps(*_dic, sort_keys=True, indent=4))

In [4]:
# AFFICHAGE NOTEBOOK

from IPython.core.interactiveshell import InteractiveShell # Mettre en output toutes les sortie d'une cellule
InteractiveShell.ast_node_interactivity = "all" #"last_expr"

In [5]:
# Mise en forme du notebook 

# Nb de colonnes/ligne à afficher
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

# Largeur des cellules #Uniquement pr Jup Notbook ?
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

# Mettre en output toutes les sortie d'une cellule
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all" #"last_expr"

# Avoir une forme de débugger
from IPython.core.debugger import Tracer # Plancer Tracer()() dans la fonction permet d'avoir un pas à pas, "n(ext) line and run this one, c(ontinue) running until next breakpoint, q(uit) the debugger"

In [6]:
# GRAPHIQUES

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (13.0, 8.0)

import seaborn as sns
sns.set_color_codes()
sns.set(rc={'figure.facecolor':'white'}) #Force l'arrire plan des axes en blanc, nécessaire pr IDE en black

## Fonctions

In [7]:
def leafExplorer(df, listeBranches):
    '''
    A partir d'un df contenant des colonnes dont les cellules sont des dic (et NON des array de dic), 
    extrait les dictionnaires ou les array et passe les clé en nom de colonne, puis les valeurs en "cellule".
    NB : on a pr nom de colonne uniquement la clé du dic
    '''
   
    for branche in listeBranches :
        try :
            branche in df.columns
        except :
            print(branche, " n'est pas un nom de colonne présent dans le df donné !")
            
        try :
            isinstance(df[branche][0], dict)
        except:
            print("Le contenu de ", branche, " n'est pas toujours un dict !")
        finally:
            df = df.drop(branche, 1).assign(**pd.DataFrame(df[branche].values.tolist()))
    return df;

## Tampon bouts de code

aberrants = dal.loc[(dal["loading_cargo_type"]=='') & (dal["unloading_cargo_type"]==''),    :]

aberrants.to_json(orient='records')

dic_flattened = (flatten(handlings_list) for handlings_list in flatten)

for item in dic_flattened :
    print(item)
    
df = pd.DataFrame(dic_flattened) #.from_records(flatten)

df

data_IH.dropna(subset=["data.departure_dock"])

df.to_json("./export.json", orient='records')

def set_for_keys(my_dict, key_arr, val):
    """
    Set val at path in my_dict defined by the string (or serializable object) array key_arr
    """
    current = my_dict
    for i in range(len(key_arr)):
        key = key_arr[i]
        if key not in current:
            if i==len(key_arr)-1:
                current[key] = val
            else:
                current[key] = {}
        else:
            if type(current[key]) is not dict:
                print("Given dictionary is not compatible with key structure requested")
                raise ValueError("Dictionary key already occupied")

        current = current[key]

    return my_dict

def to_formatted_json(df, sep="."):
    result = []
    for _, row in df.iterrows():
        parsed_row = {}
        for idx, val in row.iteritems():
            keys = idx.split(sep)
            parsed_row = set_for_keys(parsed_row, keys, val)

        result.append(parsed_row)
    return result

to_formatted_json(df, sep=".")

flatten("./filtrat_IH.json")

# DONNEES SOURCES

In [135]:
#CHARGEMENT


with open("./IH_data/IH_2018.json") as json_file:
    ih_df = json.load(json_file)

ih_df = json_normalize(
    ih_df[0]["records"], #On filtre sur 0 car on a un seul terminal présent
    sep="__"
)

ih_df.columns = ['timestamp', 'departure_dock', 'loading_cargo_type', 'IMO', 'loading_berth', 'source', 'loading_cargo_fiscal_type', 'journeyid', 'loading_dangerous', 'unloading_tonnage', 'arrival_dock', 'pixel_etd', 'unloading_cargo_fiscal_type', 'loading_tonnage', 'unloading_cargo_type', 'unloading_agent', 'unloading_berth', 'name', 'unloading_dangerous', 'location__lon', 'location__lat', 'dataProvider', 'operation', 'loading_agent']


#ih_df.shape
ih_df

,timestamp,departure_dock,loading_cargo_type,IMO,loading_berth,source,loading_cargo_fiscal_type,journeyid,loading_dangerous,unloading_tonnage,arrival_dock,pixel_etd,unloading_cargo_fiscal_type,loading_tonnage,unloading_cargo_type,unloading_agent,unloading_berth,name,unloading_dangerous,location__lon,location__lat,dataProvider,operation,loading_agent
0,1576531926565,1.515360e+12,,9571545,435.0,FR_BAS/vcall,SOL.V,20180001,False,10094.0,1.514833e+12,1.515267e+12,SOL.V,0.0,I.CHARBON,SEAINVEST,435.0,MUNTGRACHT,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,SEAINVEST
1,1576531926565,1.515007e+12,,9803429,436.0,FR_BAS/vcall,LIQ.V,20180002,False,2500.0,1.514918e+12,1.515026e+12,LIQ.V,0.0,I.EMHV - EMAG - FAME,SEAINVEST,436.0,TANAB,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,SEAINVEST
2,1576531926565,1.515448e+12,,9534298,416.0,FR_BAS/vcall,SOL.V,20180003,False,5703.0,1.514919e+12,1.515250e+12,SOL.V,0.0,I.CLINKER,SEAINVEST,416.0,JOHANN,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,SEAINVEST
3,1576531926566,1.515101e+12,E.HUILE TOURNESOL,9377092,436.0,FR_BAS/vcall,LIQ.V,20180004,False,0.0,1.515008e+12,1.515151e+12,LIQ.V,2424.0,,SEAINVEST,436.0,LEENI,False,44.863,-0.5472,http://FR_BAS/vcall,loading,SEAINVEST
4,1576531926567,1.517341e+12,,9699854,434.0,FR_BAS/vcall,SOL.V,20180006,False,32351.0,1.515234e+12,1.515706e+12,SOL.V,0.0,I.TOURNESOL VRAC,MARMEDSA,413.0,DESERT RANGER,False,44.863,-0.5472,http://FR_BAS/vcall,loading,MARMEDSA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,1576531927508,1.545989e+12,,9336701,436.0,FR_BAS/vcall,LIQ.V,20180871,False,2997.0,1.545908e+12,1.546044e+12,LIQ.V,0.0,I.HUILE COLZA,SEAINVEST,436.0,ORASUND,False,44.863,-0.5472,http://FR_BAS/vcall,loading,SEAINVEST
438,1576531927509,1.546046e+12,E.EMHV - EMAG - FAME,9827724,436.0,FR_BAS/vcall,LIQ.V,20180872,False,0.0,1.545941e+12,1.546146e+12,LIQ.V,4504.0,,SEAINVEST,436.0,EMIRALP,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,SEAINVEST
439,1576531927509,1.546261e+12,,9148178,433.0,FR_BAS/vcall,SOL.V,20180873,False,3122.0,1.545990e+12,1.546268e+12,SOL.V,0.0,I.SEL,SEAINVEST,433.0,MARRY-S,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,SEAINVEST
440,1576531927511,NaN,NaN,9392640,NaN,FR_BAS/vcall,NaN,20180878,NaN,1998.0,1.546214e+12,NaN,LIQ.V,NaN,I.EMHV - EMAG - FAME,SEAINVEST,436.0,ORAMALIA,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,NaN
441,1576531927511,NaN,NaN,9391127,NaN,FR_BAS/vcall,NaN,20180879,NaN,3145.0,1.546264e+12,NaN,LIQ.V,NaN,I.HUILE COLZA,SEAINVEST,436.0,STRAITVIEW,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,NaN

In [136]:
# EXTRACTION


nomsColonnes = ["Segment", "Category", "Dock", "Amount", "Direction"]

load = ih_df.loc[:, ["loading_cargo_fiscal_type", "loading_cargo_type", "loading_berth", "loading_tonnage", "operation"]]
load.columns = nomsColonnes

unload = ih_df.loc[:, ["unloading_cargo_fiscal_type", "unloading_cargo_type", "unloading_berth", "unloading_tonnage", "operation"]]
unload.columns = nomsColonnes

cargo_df = pd.concat([load, unload])

cargo_df.replace({"":np.nan, 0:np.nan}, inplace=True)
cargo_df.dropna(subset=["Segment", "Category", "Dock", "Amount", "Direction"], inplace=True)

col= ["Dock", "Amount"]
cargo_df[col] = cargo_df[col].astype('int32')

# Pr la direction, on ne peut pas selectionner le cas le plus fréquent (comme pr segment), mais on doit forcer
cargo_df.loc[cargo_df.Category.str.startswith("E"), "Direction"] = "loading"
cargo_df.loc[cargo_df.Category.str.startswith("I"), "Direction"] = "unloading"


cargo_df

    Segment              Category  Dock  Amount  Direction
3     LIQ.V     E.HUILE TOURNESOL   436    2424    loading
5    CEREAL           E.MAIS VRAC   449    4522    loading
9      P.C.          E.CONTENEURS   432    1217    loading
10    SOL.V     E.FERRAIL.REFONT.   414    4666    loading
11   CEREAL           E.MAIS VRAC   449    3810    loading
..      ...                   ...   ...     ...        ...
436   GAZ.L           I.BUTADIENE   436    2100  unloading
437   LIQ.V         I.HUILE COLZA   436    2997  unloading
439   SOL.V                 I.SEL   433    3122  unloading
440   LIQ.V  I.EMHV - EMAG - FAME   436    1998  unloading
441   LIQ.V         I.HUILE COLZA   436    3145  unloading

[510 rows x 5 columns]

In [137]:
# RESHAPING

cargo_agg = pd.DataFrame(
    cargo_df.groupby(["Category", "Direction"])["Segment"].agg(lambda x:x.value_counts().index[0]) #On prend uniquement la valeur la plus fréquence (possible égalité)
)

cargo_agg.insert(1, "Dock", 
                 cargo_df.groupby(["Category", "Direction"])["Dock"].apply(lambda x: pd.unique(x).tolist())) #On passe en valeur la liste de tous les docks ayant correspondus

cargo_agg.reset_index(level="Direction", inplace= True)

cargo_agg["SupplyChain"]= cargo_agg["Direction"] + '_' + cargo_agg["Segment"]


cargo_agg.shape
cargo_agg.head()

(48, 4)

                       Direction Segment        Dock     SupplyChain
Category
E.BLE VRAC               loading  CEREAL       [449]  loading_CEREAL
E.CER.+OLEAG. MIXTES     loading  CEREAL  [417, 449]  loading_CEREAL
E.CEREALES MIXTES VRAC   loading  CEREAL  [449, 417]  loading_CEREAL
E.COLIS LOURDS           loading  AUTRES  [413, 417]  loading_AUTRES
E.COLZA VRAC             loading   SOL.V       [449]   loading_SOL.V

# RULES

# SUPPYCHAINS

# RESSOURCE

In [17]:
#load json object
with open('./RESSOURCES_demo.json') as json_file:
    ressources = json.load(json_file)

ressources = json_normalize(ressources['machines'])


ressources.head()

,ID,label,category,tag,owner,shift_ID,consumptions,throughput.Value,throughput.Unit
0,machine_16,machine_16's name,ConvoyBelt,[],GPMB,typical,"[{'nature': 'electricity', 'value': 819, 'unit...",447,t/h
1,machine_1,machine_1 's name,Crane,[],SPBL,typical,"[{'nature': 'electricity', 'value': 805, 'unit...",417,t/h
2,machine_31,machine_31's name,Crane,[],SPBL,typical,"[{'nature': 'electricity', 'value': 866, 'unit...",330,t/h
3,machine_2,machine_2's name,Other,[],GPMB,typical,"[{'nature': 'petrol', 'value': 14, 'unit': 'L'}]",870,t/h
4,machine_17,machine_17's name,Schouler,[],SPBL,typical,"[{'nature': 'gazol', 'value': 23, 'unit': 'L'}]",972,t/h