# PREAMBULE

## Synopsis

*PURPOSE*

Ceci est un fork du builder de set de paramètres (en début de dév). Il est ici détourné pr vérifier les sorties du convertiseur.

*TODO*

## Librairies

In [1]:
# GENERAL

import pandas as pd
import numpy as np

In [48]:
# GESTION JSON

#from pandas.io.json import json_normalize #package for flattening json in pandas df <<Périmé en pandas v1
import pprint 
import json
import jsonschema

In [3]:
# AFFICHAGE NOTEBOOK

from IPython.core.interactiveshell import InteractiveShell # Mettre en output toutes les sortie d'une cellule
InteractiveShell.ast_node_interactivity = "all" #"last_expr"

In [4]:
# Mise en forme du notebook 

# Nb de colonnes/ligne à afficher
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

# Largeur des cellules #Uniquement pr Jup Notbook ?
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

# Mettre en output toutes les sortie d'une cellule
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all" #"last_expr"

# Avoir une forme de débugger
from IPython.core.debugger import Tracer # Plancer Tracer()() dans la fonction permet d'avoir un pas à pas, "n(ext) line and run this one, c(ontinue) running until next breakpoint, q(uit) the debugger"

# GRAPHIQUES

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (13.0, 8.0)

import seaborn as sns
sns.set_color_codes()
sns.set(rc={'figure.facecolor':'white'}) #Force l'arrire plan des axes en blanc, nécessaire pr IDE en black

## Fonctions

In [5]:
def leafExplorer(df, listeBranches):
    '''
    A partir d'un df contenant des colonnes dont les cellules sont des dic (et NON des array de dic), 
    extrait les dictionnaires ou les array et passe les clé en nom de colonne, puis les valeurs en "cellule".
    NB : on a pr nom de colonne uniquement la clé du dic
    '''
   
    for branche in listeBranches :
        try :
            branche in df.columns
        except :
            print(branche, " n'est pas un nom de colonne présent dans le df donné !")
            
        try :
            isinstance(df[branche][0], dict)
        except:
            print("Le contenu de ", branche, " n'est pas toujours un dict !")
        finally:
            df = df.drop(branche, 1).assign(**pd.DataFrame(df[branche].values.tolist()))
    return df;

In [6]:
def jprint (json_string):
    '''
    Affiche de manière plus lisible le json (instance sous forme de string)
    '''
    print(
        json.dumps(
            json.loads(
                json_string), 
            indent=4, 
            sort_keys=True
        )
)

## Tampon bouts de code

aberrants = dal.loc[(dal["loading_cargo_type"]=='') & (dal["unloading_cargo_type"]==''),    :]

aberrants.to_json(orient='records')

dic_flattened = (flatten(handlings_list) for handlings_list in flatten)

for item in dic_flattened :
    print(item)
    
df = pd.DataFrame(dic_flattened) #.from_records(flatten)

df

data_IH.dropna(subset=["data.departure_dock"])

df.to_json("./export.json", orient='records')

def set_for_keys(my_dict, key_arr, val):
    """
    Set val at path in my_dict defined by the string (or serializable object) array key_arr
    """
    current = my_dict
    for i in range(len(key_arr)):
        key = key_arr[i]
        if key not in current:
            if i==len(key_arr)-1:
                current[key] = val
            else:
                current[key] = {}
        else:
            if type(current[key]) is not dict:
                print("Given dictionary is not compatible with key structure requested")
                raise ValueError("Dictionary key already occupied")

        current = current[key]

    return my_dict

def to_formatted_json(df, sep="."):
    result = []
    for _, row in df.iterrows():
        parsed_row = {}
        for idx, val in row.iteritems():
            keys = idx.split(sep)
            parsed_row = set_for_keys(parsed_row, keys, val)

        result.append(parsed_row)
    return result

to_formatted_json(df, sep=".")

flatten("./filtrat_IH.json")

# DONNEES SOURCES

In [7]:
#CHARGEMENT


with open("../IH_converter/IH_data/IH_2018.json") as json_file:
    ih_df = json.load(json_file)

ih_df = pd.json_normalize(
    ih_df[0]["records"], #On filtre sur 0 car on a un seul terminal présent
    sep="__"
)

ih_df.columns = ['timestamp', 'departure_dock', 'loading_cargo_type', 'IMO', 'loading_berth', 'source', 'loading_cargo_fiscal_type', 'journeyid', 'loading_dangerous', 'unloading_tonnage', 'arrival_dock', 'pixel_etd', 'unloading_cargo_fiscal_type', 'loading_tonnage', 'unloading_cargo_type', 'unloading_agent', 'unloading_berth', 'name', 'unloading_dangerous', 'location__lon', 'location__lat', 'dataProvider', 'operation', 'loading_agent']


#ih_df.shape
ih_df

,timestamp,departure_dock,loading_cargo_type,IMO,loading_berth,source,loading_cargo_fiscal_type,journeyid,loading_dangerous,unloading_tonnage,arrival_dock,pixel_etd,unloading_cargo_fiscal_type,loading_tonnage,unloading_cargo_type,unloading_agent,unloading_berth,name,unloading_dangerous,location__lon,location__lat,dataProvider,operation,loading_agent
0,1576531926565,1.515360e+12,,9571545,435.0,FR_BAS/vcall,SOL.V,20180001,False,10094.0,1.514833e+12,1.515267e+12,SOL.V,0.0,I.CHARBON,SEAINVEST,435.0,MUNTGRACHT,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,SEAINVEST
1,1576531926565,1.515007e+12,,9803429,436.0,FR_BAS/vcall,LIQ.V,20180002,False,2500.0,1.514918e+12,1.515026e+12,LIQ.V,0.0,I.EMHV - EMAG - FAME,SEAINVEST,436.0,TANAB,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,SEAINVEST
2,1576531926565,1.515448e+12,,9534298,416.0,FR_BAS/vcall,SOL.V,20180003,False,5703.0,1.514919e+12,1.515250e+12,SOL.V,0.0,I.CLINKER,SEAINVEST,416.0,JOHANN,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,SEAINVEST
3,1576531926566,1.515101e+12,E.HUILE TOURNESOL,9377092,436.0,FR_BAS/vcall,LIQ.V,20180004,False,0.0,1.515008e+12,1.515151e+12,LIQ.V,2424.0,,SEAINVEST,436.0,LEENI,False,44.863,-0.5472,http://FR_BAS/vcall,loading,SEAINVEST
4,1576531926567,1.517341e+12,,9699854,434.0,FR_BAS/vcall,SOL.V,20180006,False,32351.0,1.515234e+12,1.515706e+12,SOL.V,0.0,I.TOURNESOL VRAC,MARMEDSA,413.0,DESERT RANGER,False,44.863,-0.5472,http://FR_BAS/vcall,loading,MARMEDSA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,1576531927508,1.545989e+12,,9336701,436.0,FR_BAS/vcall,LIQ.V,20180871,False,2997.0,1.545908e+12,1.546044e+12,LIQ.V,0.0,I.HUILE COLZA,SEAINVEST,436.0,ORASUND,False,44.863,-0.5472,http://FR_BAS/vcall,loading,SEAINVEST
438,1576531927509,1.546046e+12,E.EMHV - EMAG - FAME,9827724,436.0,FR_BAS/vcall,LIQ.V,20180872,False,0.0,1.545941e+12,1.546146e+12,LIQ.V,4504.0,,SEAINVEST,436.0,EMIRALP,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,SEAINVEST
439,1576531927509,1.546261e+12,,9148178,433.0,FR_BAS/vcall,SOL.V,20180873,False,3122.0,1.545990e+12,1.546268e+12,SOL.V,0.0,I.SEL,SEAINVEST,433.0,MARRY-S,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,SEAINVEST
440,1576531927511,NaN,NaN,9392640,NaN,FR_BAS/vcall,NaN,20180878,NaN,1998.0,1.546214e+12,NaN,LIQ.V,NaN,I.EMHV - EMAG - FAME,SEAINVEST,436.0,ORAMALIA,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,NaN
441,1576531927511,NaN,NaN,9391127,NaN,FR_BAS/vcall,NaN,20180879,NaN,3145.0,1.546264e+12,NaN,LIQ.V,NaN,I.HUILE COLZA,SEAINVEST,436.0,STRAITVIEW,False,44.863,-0.5472,http://FR_BAS/vcall,unloading,NaN

In [8]:
# EXTRACTION


nomsColonnes = ["handling_type", "Category", "Dock", "Amount", "Direction"]

load = ih_df.loc[:, ["loading_cargo_fiscal_type", "loading_cargo_type", "loading_berth", "loading_tonnage", "operation"]]
load.columns = nomsColonnes

unload = ih_df.loc[:, ["unloading_cargo_fiscal_type", "unloading_cargo_type", "unloading_berth", "unloading_tonnage", "operation"]]
unload.columns = nomsColonnes
    
data = pd.concat([load, unload])

data.replace({"":np.nan, 0:np.nan}, inplace=True)
data.dropna(subset=["handling_type", "Category", "Dock", "Amount", "Direction"], inplace=True)

col= ["Dock", "Amount"]
data[col] = data[col].astype('int32')
data["Dock"] = data["Dock"].astype('str') #On conserve la première conversion en int pr ne pas avoir les traces du passage par float

# Pr la direction, on ne peut pas selectionner le cas le plus fréquent (comme pr handling_type), mais on doit forcer
data.loc[data.Category.str.startswith("E"), "Direction"] = "loading"
data.loc[data.Category.str.startswith("I"), "Direction"] = "unloading"


data

    handling_type              Category Dock  Amount  Direction
3     LIQ.V     E.HUILE TOURNESOL  436    2424    loading
5    CEREAL           E.MAIS VRAC  449    4522    loading
9      P.C.          E.CONTENEURS  432    1217    loading
10    SOL.V     E.FERRAIL.REFONT.  414    4666    loading
11   CEREAL           E.MAIS VRAC  449    3810    loading
..      ...                   ...  ...     ...        ...
436   GAZ.L           I.BUTADIENE  436    2100  unloading
437   LIQ.V         I.HUILE COLZA  436    2997  unloading
439   SOL.V                 I.SEL  433    3122  unloading
440   LIQ.V  I.EMHV - EMAG - FAME  436    1998  unloading
441   LIQ.V         I.HUILE COLZA  436    3145  unloading

[510 rows x 5 columns]

In [24]:
len(data.groupby(["handling_type", "Direction"])["Amount"].count())

data.groupby(["handling_type", "Direction"])["Amount"].count()

11

handling_type  Direction
AUTRES   loading        2
         unloading     23
CEREAL   loading      102
GAZ.L    loading        1
         unloading     27
LIQ.V    loading       49
         unloading     68
P.C.     loading       67
         unloading     66
SOL.V    loading       33
         unloading     72
Name: Amount, dtype: int64

In [9]:
# RESHAPING

data_core = pd.DataFrame(
    data.groupby(["Category", "Direction"])["handling_type"].agg(lambda x:x.value_counts().index[0]) #On prend uniquement la valeur la plus fréquence (possible égalité)
)

data_core.insert(1, "Dock", 
                 data.groupby(["Category", "Direction"])["Dock"].apply(lambda x: pd.unique(x).tolist())) #On passe en valeur la liste de tous les docks ayant correspondus

data_core.reset_index(inplace= True)

data_core["SupplyChain"]= data_core["Direction"] + '_' + data_core["handling_type"]


data_core.shape
data_core.head()

(48, 5)

                 Category Direction handling_type        Dock     SupplyChain
0              E.BLE VRAC   loading  CEREAL       [449]  loading_CEREAL
1    E.CER.+OLEAG. MIXTES   loading  CEREAL  [417, 449]  loading_CEREAL
2  E.CEREALES MIXTES VRAC   loading  CEREAL  [449, 417]  loading_CEREAL
3          E.COLIS LOURDS   loading  AUTRES  [413, 417]  loading_AUTRES
4            E.COLZA VRAC   loading   SOL.V       [449]   loading_SOL.V

# RULES

In [10]:
# Base du json

df = data_core
df.columns = ["ID", "direction", "handling_type", "dock_ID", "supply_chain_ID"]
cargoCatJson = json.loads(df.to_json(orient='records', indent=4))

for item in cargoCatJson :
    item["unit"] = "Tons"
    item["typical_amount_range"] = [500, 10000]
    item["assignation_preference"] = [
        {
            "priority": 1,
            "direction": item.pop("direction"),
            "dock_ID": item.pop("dock_ID"),
            "supply_chain_ID": item.pop("supply_chain_ID")
        }
    ]

#<<Ajouter le check vs  json-schema (atomique et global)


#pprint.PrettyPrinter(indent=4).pprint(cargoCatJson[0])

In [11]:
RULES = {
    "cargoes_categories":cargoCatJson,
    "shiftworks":[{"ID":"typical","value":[{"Monday":["8>12","14>17"]},{"Tuesday":["8>12","14>17"]},{"Wednesday":["8>12","14>17"]},{"Thursday":["8>12","14>17"]},{"Friday":["8>12","14>17"]},{"Saturday":[]},{"Sunday":[]}]}],
    "priority":{},
    "assignment":{},
    "validity":{}
}

In [58]:
with open("./Generated_json/RULES.json", "w") as f:
        f.write(json.dumps(RULES, indent=4, ensure_ascii=False))

26879

# SUPPYCHAINS

In [55]:
# Préparation des données 

df = data_core
df.columns = ["cargoes_category", "directions_nature", "handling_type", "dock_ID", "ID"]

supChain_df = pd.DataFrame(
    data= df.groupby(["ID", "directions_nature"])["cargoes_category"].apply(lambda x: pd.unique(x).tolist()),
    columns=["cargoes_category"]
)

supChain_df.insert(1, "areas_ID", 
    df.groupby(["ID", "directions_nature"])["dock_ID"].apply(lambda x: list(set(x.sum())))
)

supChain_df.reset_index(inplace= True)


supChain_df

,ID,directions_nature,cargoes_category,areas_ID
0,loading_AUTRES,loading,[E.COLIS LOURDS],"[417, 413]"
1,loading_CEREAL,loading,"[E.BLE VRAC, E.CER.+OLEAG. MIXTES, E.CEREALES ...","[417, 449]"
2,loading_LIQ.V,loading,"[E.EMHV - EMAG - FAME , E.HUILE COLZA, E.HUILE...",[436]
3,loading_P.C.,loading,[E.CONTENEURS],"[432, 433]"
4,loading_SOL.V,loading,"[E.COLZA VRAC, E.FERRAIL.REFONT., E.MINER.NON ...","[417, 434, 431, 413, 449, 414]"
5,unloading_AUTRES,unloading,"[I.BOIS SCIES DU NORD, I.COLIS LOURDS]","[417, 413, 415, 416]"
6,unloading_GAZ.L,unloading,[I.BUTADIENE],[436]
7,unloading_LIQ.V,unloading,"[I.EMHV - EMAG - FAME, I.ENGR.LIQUIDES, I.HUIL...","[416, 436]"
8,unloading_P.C.,unloading,[I.CONTENEURS],"[432, 433]"
9,unloading_SOL.V,unloading,"[I.BOIS+COPEAUX MIXTES, I.CHARBON, I.CIMENT, I...","[434, 416, 435, 433, 431, 413, 415]"

In [56]:
# Convertion en json

supChain_Json = json.loads(supChain_df.to_json(orient='records', indent=4))

for item in supChain_Json :
    item["ID"]= item["ID"]
    item["label"]= "Some label"
    item["comment"]= "Some comment"
    item["compatibility"]= {
        "cargoes_category": item["cargoes_category"],
        "directions_nature": [item["directions_nature"]],
        "areas_ID": item["areas_ID"],
        "shiftworks_ID": ["typical"]
    }
    item["steps_list"]= [
        {
            "ID": "Step1",
            "label": "step's name",
            "comment": "step's comment",
            "category": "Initialization",
            "scheduling": {
                "start": {
                    "nature": "delay",
                    "value": 0
                },
                "duration": {
                    "nature": "delay",
                    "value": 20
                }
            },
            "work": {
                "machines": [
                    "Machine1"
                ],
                "nature": "parallel",
                "distance": "on_spot"
            }
        },
        {
            "ID": "Step2",
            "label": "step's name",
            "comment": "step's comment",
            "category": "Processing",
            "scheduling": {
                "start": {
                    "nature": "after_any",
                    "value": ["Step1"]
                },
                "duration": {
                    "nature": "cargo_%",
                    "value": 100
                }
            },
            "work": {
                "machines": [
                    "Machine2, Machine3"
                ],
                "nature": "parallel",
                "distance": "on_spot"
            }
        }
    ]


pprint.PrettyPrinter(indent=4).pprint(supChain_Json[0])

{   'ID': 'loading_AUTRES',
    'areas_ID': ['417', '413'],
    'cargoes_category': ['E.COLIS LOURDS'],
    'comment': 'Some comment',
    'compatibility': {   'areas_ID': ['417', '413'],
                         'cargoes_category': ['E.COLIS LOURDS'],
                         'directions_nature': ['loading'],
                         'shiftworks_ID': ['typical']},
    'directions_nature': 'loading',
    'label': 'Some label',
    'steps_list': [   {   'ID': 'Step1',
                          'category': 'Initialization',
                          'comment': "step's comment",
                          'label': "step's name",
                          'scheduling': {   'duration': {   'nature': 'delay',
                                                            'value': 20},
                                            'start': {   'nature': 'delay',
                                                         'value': 0}},
                          'work': {   'distance': 'on_spot',
                                      'machines': ['Machine1'],
                                      'nature': 'parallel'}},
                      {   'ID': 'Step2',
                          'category': 'Processing',
                          'comment': "step's comment",
                          'label': "step's name",
                          'scheduling': {   'duration': {   'nature': 'cargo_%',
                                                            'value': 100},
                                            'start': {   'nature': 'after_any',
                                                         'value': ['Step1']}},
                          'work': {   'distance': 'on_spot',
                                      'machines': ['Machine2, Machine3'],
                                      'nature': 'parallel'}}]}

In [75]:
#lister l'ensemble des machines référencées dans le json
supChain_Json[]["ID"]

SyntaxError: invalid syntax (<ipython-input-75-2a997dbb8346>, line 2)

In [53]:
# Controle de validité 

with open("../json_checker/json_schemas/SUPPLYCHAINS_schema.json") as schemaJson_file:
    schema_json_i = json.load(schemaJson_file)

jsonschema.validate(instance= supChain_Json, schema=schema_json_i)

In [59]:
# Export du json

with open("./Generated_json/SUPPLYCHAINS.json", "w") as f:
        f.write(json.dumps(supChain_Json, indent=4, ensure_ascii=False))

24919

# RESSOURCE

In [ ]:
#load json object
with open('./RESSOURCES_demo.json') as json_file:
    ressources = json.load(json_file)

ressources = json_normalize(ressources['machines'])


ressources.head()

In [68]:


others_list = []

In [70]:
# AREAS

areas_list = []

for dock in data.Dock.unique() :
    areas_list.append(
        {
            "ID": dock,
            "label": "some label",
            "comment": "some comment",
            "category": "dock",
            "owner": "the owner"
            "terminal": "the terminal"
            
        }
    )

In [ ]:
# MACHINES

machines_list = []

for machine in

In [74]:
ressource = {
    "areas_list":areas_list,
    "machines_list":machines_list,
    "others_list":others_list
}


print(json.dumps(ressource, indent=4))

{
    "areas_list": [
        {
            "ID": "436",
            "label": "some label",
            "comment": "some comment"
        },
        {
            "ID": "449",
            "label": "some label",
            "comment": "some comment"
        },
        {
            "ID": "432",
            "label": "some label",
            "comment": "some comment"
        },
        {
            "ID": "414",
            "label": "some label",
            "comment": "some comment"
        },
        {
            "ID": "413",
            "label": "some label",
            "comment": "some comment"
        },
        {
            "ID": "417",
            "label": "some label",
            "comment": "some comment"
        },
        {
            "ID": "431",
            "label": "some label",
            "comment": "some comment"
        },
        {
            "ID": "434",
            "label": "some label",
            "comment": "some comment"
        },
        {
            "ID": "433",
            "label": "some label",
            "comment": "some comment"
        },
        {
            "ID": "435",
            "label": "some label",
            "comment": "some comment"
        },
        {
            "ID": "416",
            "label": "some label",
            "comment": "some comment"
        },
        {
            "ID": "415",
            "label": "some label",
            "comment": "some comment"
        }
    ],
    "machines_list": [],
    "others_list": []
}