In [1]:
import pandas as pd

In [15]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [16]:
df = pd.read_json("data/ships_call_list.json")

In [17]:
df

                                               ships
0  {'id': 0, 'arrivingTime': 1562924315, 'berthAl...
1  {'id': 1, 'arrivingTime': 1562924320, 'berthAl...
2  {'id': 2, 'arrivingTime': 1562924420, 'berthAl...